<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Project</title>
</head>
<body>
    <h1>Crear Usuario</h1>

    <form action="/insertarUsuario" method="post">
        <input type="text" name="usuario" id="usuario">
        <input type="pass" name="passwd" id="passwd">
        <button type="submit">Enviar</button>
    </form>
    <br>
    <br>
    

</body>
</html>